In [3]:
pip install numpy

Requirement already satisfied: numpy in c:\users\authe\appdata\local\programs\python\python313\lib\site-packages (2.3.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.0-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\authe\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\authe\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\authe\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.0-cp313-cp313-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.0 MB 2.7 MB/s eta 0:00:04
   --- ------------------------------------ 1.0/11.0 MB 2.8 MB/s eta 0:00:04
   ------ --------------------------------- 1.8/11.0 MB 3.1 MB/s eta 0:00:03
   -------- ------------------------------- 2.4/11.0 MB 3.0 MB/s eta 0:00:03
   -------------- ------------------------- 3.9/11.0 MB 3.9 MB/s eta 0:00:02
   --------------------- ------------------ 5.8/11.0 MB 4.8 MB/s eta 0:00:02
   ----------------------------- ---------- 8.1/11.0 MB 5.8 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 6.7 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 6.1 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.3.0 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
pip install matplot.pyplot

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement matplot.pyplot (from versions: none)

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for matplot.pyplot

In [7]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\authe\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.3.0)
Requirement already satisfied: pandas>=1.2 in c:\users\authe\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.3.0)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Downloading matplotlib-3.10.3-cp313-cp313-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading contourpy-1.3.2-cp313-cp313-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading fonttools-4.58.4-cp313-cp313-win_amd64.whl.metadata (108 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading kiwisolver-1.4.8-cp313-cp313-win_amd64.whl.metadata (6.3 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\authe\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Collecting pillow>=8 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pillow-11.2.1-cp313-cp313-win_amd64.whl.metadata (9.1 kB)
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pyparsing-3.2.3-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\authe\appdata\roaming\python\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\authe\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\authe\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\authe\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading matplotlib-3.10.3-cp313-cp313-win_amd64.whl (8.1 MB)
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   ------ --------------------------------- 1.3/8.1 MB 6.6 MB/s eta 0:00:02
   ------------------ --------------------- 3.7/8.1 MB 9.4 MB/s eta 0:00:01
   ------------------- -------------------- 3.9/8.1 MB 6.5 MB/s eta 0:00:01
   ------------------- -------------------- 3.9/8.1 MB 6.5 MB/s eta 0:00:01
   ------------------- -------------------- 3.9/8.1 MB 6.5 MB/s eta 0:00:01
   ----------------------- ---------------- 4.7/8.1 MB 3.8 MB/s eta 0:00:01
   ------------------------------- -------- 6.3/8.1 MB 4.2 MB/s eta 0:00:01
   ------------------------------------- -- 7.6/8.1 MB 4.7 MB/s eta 0:00:01
   ---------------------------------------- 8.1/8.1 MB 4.5 MB/s eta 0:00:00
Downloading contourpy-1.3.2-cp313-cp313-win_amd64.whl (223 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.58.4-cp313-cp313-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.2 MB 27.7 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.2 MB 3.1 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.2 MB 3.1 MB/s eta 0:00:01
   ---------------------------- ----------- 1.6/2.2 MB 1.8 MB/s eta 0:00:01
   ---------------------------- ----------- 1.6/2.2 MB 1.8 MB/s eta 0:00:01
   ---------------------------- ----------- 1.6/2.2 MB 1.8 MB/s eta 0:00:01
   ---------------------------- ----------- 1.6/2.2 MB 1.8 MB/s eta 0:00:01
   ---------------------------- ----------- 1.6/2.2 MB 1.8 MB/s eta 0:00:01
   ---------------------------- ----------- 1.6/2.2 MB 1.8 MB/s eta 0:00:01
   ---------------------------- ----------- 1.6/2.2 MB 1.8 MB/s eta 0:00:01
   ------------------------------------- -- 2.1/2.2 MB 869.9 kB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 850.8 kB/s eta 0:00:00
Downloading kiwisolver-1.4.8-cp313-cp313-win_amd64.whl (71 kB)
Downloading pillow-11.2.1-cp313-cp313-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ----------- ---------------------------- 0.8/2.7 MB 8.8 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 11.3 MB/s eta 0:00:00
Downloading pyparsing-3.2.3-py3-none-any.whl (111 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.2 cycler-0.12.1 fonttools-4.58.4 kiwisolver-1.4.8 matplotlib-3.10.3 pillow-11.2.1 pyparsing-3.2.3 seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts fonttools.exe, pyftmerge.exe, pyftsubset.exe and ttx.exe are installed in 'c:\Users\authe\AppData\Local\Programs\Python\Python313\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df=pd.read_csv('kidney_disease.csv')
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [7]:
df.shape

(400, 26)

In [8]:
df.drop('id',axis=1,inplace=True)

In [9]:
df.head(3)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.02,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.02,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.01,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd

In [10]:
df.describe()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [11]:
df.isnull().sum()

age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [12]:
df.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [13]:
df.columns= [
    'Age of the patient',
    'Blood Pressure',
    'Specific Gravity',
    'Albumin',
    'Sugar',
    'Red Blood Cells',
    'Pus Cells',
    'Pus Cell Clumps',
    'Bacteria',
    'Blood Glucose Random',
    'Blood Urea',
    'Serum Creatinine',
    'Sodium',
    'Potassium',
    'Hemoglobin',
    'Packed Cell Volume',
    'White Blood Cell Count',
    'Red Blood Cell Count',
    'Hypertension',
    'Diabetes Mellitus',
    'Coronary Artery Disease',
    'Appetite',
    'Pedal Edema',
    'Anemia',
    'CKD Classification (CKD/Not CKD)'
]

In [14]:
df.head()

,Age of the patient,Blood Pressure,Specific Gravity,Albumin,Sugar,Red Blood Cells,Pus Cells,Pus Cell Clumps,Bacteria,Blood Glucose Random,...,Packed Cell Volume,White Blood Cell Count,Red Blood Cell Count,Hypertension,Diabetes Mellitus,Coronary Artery Disease,Appetite,Pedal Edema,Anemia,CKD Classification (CKD/Not CKD)
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Age of the patient                391 non-null    float64
 1   Blood Pressure                    388 non-null    float64
 2   Specific Gravity                  353 non-null    float64
 3   Albumin                           354 non-null    float64
 4   Sugar                             351 non-null    float64
 5   Red Blood Cells                   248 non-null    object
 6   Pus Cells                         335 non-null    object
 7   Pus Cell Clumps                   396 non-null    object
 8   Bacteria                          396 non-null    object
 9   Blood Glucose Random              356 non-null    float64
 10  Blood Urea                        381 non-null    float64
 11  Serum Creatinine                  383 non-null    float64
 12  Sodium                            313 non-null    float64
 13  Potassium                         312 non-null    float64
 14  Hemoglobin                        348 non-null    float64
 15  Packed Cell Volume                330 non-null    object
 16  White Blood Cell Count            295 non-null    object
 17  Red Blood Cell Count              270 non-null    object
 18  Hypertension                      398 non-null    object
 19  Diabetes Mellitus                 398 non-null    object
 20  Coronary Artery Disease           398 non-null    object
 21  Appetite                          399 non-null    object
 22  Pedal Edema                       399 non-null    object
 23  Anemia                            399 non-null    object
 24  CKD Classification (CKD/Not CKD)  400 non-null    object
dtypes: float64(11), object(14)
memory usage: 78.3+ KB

In [16]:
text_columns=['Packed Cell Volume','White Blood Cell Count','Red Blood Cell Count']
for i in text_columns:
    print(f'{i}: {df[i].dtype}')

Packed Cell Volume: object
White Blood Cell Count: object
Red Blood Cell Count: object

In [17]:
def convert_text_to_numeric(df,column):
    df[column]=pd.to_numeric(df[column],errors='coerce')
for column in text_columns:
    convert_text_to_numeric(df,column)
    print(f'{column}:{df[column].dtype}')

Packed Cell Volume:float64
White Blood Cell Count:float64
Red Blood Cell Count:float64

In [18]:
missing=df.isnull().sum()
missing[missing>0].sort_values(ascending=False).head(20)

Red Blood Cells           152
Red Blood Cell Count      131
White Blood Cell Count    106
Potassium                  88
Sodium                     87
Packed Cell Volume         71
Pus Cells                  65
Hemoglobin                 52
Sugar                      49
Specific Gravity           47
Albumin                    46
Blood Glucose Random       44
Blood Urea                 19
Serum Creatinine           17
Blood Pressure             12
Age of the patient          9
Pus Cell Clumps             4
Bacteria                    4
Hypertension                2
Diabetes Mellitus           2
dtype: int64

In [19]:
def mean_value_imputation(df,column):
    mean_value=df[column].mean()
    df[column].fillna(value=mean_value, inplace=True)
def mode_value_imputation(df,column):
    mode=df[column].mode()[0]
    df[column]=df[column].fillna(mode)

In [20]:
df.columns

Index(['Age of the patient', 'Blood Pressure', 'Specific Gravity', 'Albumin',
       'Sugar', 'Red Blood Cells', 'Pus Cells', 'Pus Cell Clumps', 'Bacteria',
       'Blood Glucose Random', 'Blood Urea', 'Serum Creatinine', 'Sodium',
       'Potassium', 'Hemoglobin', 'Packed Cell Volume',
       'White Blood Cell Count', 'Red Blood Cell Count', 'Hypertension',
       'Diabetes Mellitus', 'Coronary Artery Disease', 'Appetite',
       'Pedal Edema', 'Anemia', 'CKD Classification (CKD/Not CKD)'],
      dtype='object')

In [21]:
num_cols=[col for col in df.columns if df[col].dtype!='object']
for col_name in num_cols:
    mean_value_imputation(df,col_name)

C:\Users\authe\AppData\Local\Temp\ipykernel_18564\2482249206.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(value=mean_value, inplace=True)

In [24]:
cat_cols=[col for col in df.columns if df[col].dtype=='object']
for col_name in cat_cols:
    mode_value_imputation(df,col_name)

In [25]:
missing=df.isnull().sum()
missing[missing>0].sort_values(ascending=False).head(20)

Series([], dtype: int64)

In [26]:
df.head()

,Age of the patient,Blood Pressure,Specific Gravity,Albumin,Sugar,Red Blood Cells,Pus Cells,Pus Cell Clumps,Bacteria,Blood Glucose Random,...,Packed Cell Volume,White Blood Cell Count,Red Blood Cell Count,Hypertension,Diabetes Mellitus,Coronary Artery Disease,Appetite,Pedal Edema,Anemia,CKD Classification (CKD/Not CKD)
0,48.0,80.0,1.020,1.0,0.0,normal,normal,notpresent,notpresent,121.000000,...,44.0,7800.0,5.200000,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,normal,normal,notpresent,notpresent,148.036517,...,38.0,6000.0,4.707435,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.000000,...,31.0,7500.0,4.707435,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.000000,...,32.0,6700.0,3.900000,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.000000,...,35.0,7300.0,4.600000,no,no,no,good,no,no,ckd

In [55]:
print(f'Diabetes mellitus:- {df['Diabetes Mellitus'].unique()}')
print(f'Coronary artery disease :- {df['Coronary Artery Disease'].unique()}')
print(f"CKD Classification (CKD/Not CKD):-{df['CKD Classification (CKD/Not CKD)'].unique()}")

Diabetes mellitus:- [nan]
Coronary artery disease :- [nan]
CKD Classification (CKD/Not CKD):-[nan]